<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='//fonts.googleapis.com/css?family=News+Cycle|Cabin:700&amp;v2' rel='stylesheet' type='text/css' />
	<title>Brilliance Tech - Desarrollo de Sitios y Aplicaciones Web</title>
	
	<!-- Stylesheets -->
	<link type="text/css" rel="stylesheet" href="css/960.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="css/screen.css" media="screen" />
	<link type="text/css" id="themeCSS" title="theme" rel="stylesheet" href="css/colors-default.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="css/smoke.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="css/100s.css" media="screen" />
	
	<!-- Favicon -->
    <link rel="shortcut icon" type="image/gif" href="images/bt_logo.png" />

	<!--[if lt IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
	<![endif]-->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.slides.min.js"></script>
	<script type="text/javascript" src="js/jquery.scrollTo-min.js"></script>
	<script type="text/javascript" src="js/jquery.smoke.min.js"></script>
	<script type="text/javascript" src="js/general.js"></script>
</head>
<body>
    
    <div id="outer">
		
      <div id="header" class="clearfix shadow">
            <div class="container_12">
                <div class="grid_4" id="logo_text">
                	<h1><a href="#top">Brilliance Tech</a></h1>
                </div><!--//logo-->
                <div class="grid_8 menu-container">
                	<ul class="menu rounded shadow clearfix">
                    	<li><span class="scroll_to_top">inicio</span></li>
                        <li><span class="scroll_to_servicios">servicios</span></li>
                        <li><span class="scroll_to_clientes">clientes</span></li>
                        <li><span class="scroll_to_equipo">equipo</span></li>
                        <li><span class="scroll_to_contacto">contacto</span></li>
                    </ul>
                </div><!--//menu-->
            </div><!--//container_12-->
    	</div><!--//header-->
        
        
        
        
        
    	<div id="top" class="section clearfix default">
            <div class="container_12">
               
                <div class="grid_12">
                  <div class="promos">
                    <a href="#servicios"><img id="logo" src="images/logo.gif" alt="Logo de Brilliance Tech" /></a>
                    <p id="tagline">Desarrollo de aplicaciones y sitios web efectivos para tu empresa.</p>
                    </div>
                </div>


                
                <div class="clear"></div>
                
                <div class="grid_4 centered">
                    <h3>SERVICIOS</h3>
                    <p>¿Que cómo te podemos ayudar? Mira nuestros servicios.</p>
                    <p><span class="scroll_to_servicios">Nuestros servicios</span></p>
                </div><!--//grid_3-->
                <div class="grid_4 centered">
                    <h3>NUESTRO TRABAJO</h3>
                    <p>Hemos desarrollado sistemas y plataformas de negocios para empresas locales.</p>
                    <p><span class="scroll_to_clientes">Nuestros clientes</span></p>
                </div><!--//grid_3-->
                <div class="grid_4 centered">
                    <h3>QUIENES SOMOS</h3>
                    <p>Somos un pequeño estudio de desarrollo de sitios y aplicaciones web.</p>
                    <p><span class="scroll_to_equipo">Nuestro equipo</span></p>
                </div><!--//grid_3-->
                
                
                
            </div><!--//container_12-->
    	</div><!--//section-->
        
        
        
        
    	<div id="servicios" class="section clearfix">
        <div class="container_12">
          <div class="grid_12">
            <div class="section-heading clearfix">
              <h2>Servicios</h2>
            </div><!--//section-heading-->
          </div><!--//grid_12-->

          <!-- SLIDER // Duplicate this chunk of code and changed div ID and sldierID -->
          <div class="post clearfix">
            <div class="grid_12">
                <ul class="clean">
                  <li>Desarrollo de sitios de marketing</li>
                  <li>Desarrollo de aplicaciones web internas / externas</li>
                  <li>Instalación e implementación de sistemas de gestión de contenido</li>
                  <li>Administración y mantenimiento de su presencia en la web</li>
                  <li>Mercadeo y promoción de su sitio web</li>
                </ul>
            </div>
          </div>
          <!--// SLIDER -->

        </div><!--//container_12-->
    	</div><!--//section-->
        
        
        
        
        
        
    	<div id="clientes" class="section clearfix portfolio-large">
        <div class="container_12">
          <div class="grid_12">
            <div class="section-heading clearfix">
              <h2>Clientes</h2>
            </div><!--//section-heading-->
          </div><!--//grid_12-->

          <div id="clientes_slides" class="slider clearfix grid_12">
            <div class="slides_container">
              <div id="text_tbtb">
                <div class="grid_8">
                  <a href="https://tbtbamerica.com"><img class="shadow hovershadow" src="images/large_thumbs/tbtb1.png" alt="Aplicación de manejo de órdenes para Tudo Bem Tudo Bom"  /></a>
                </div>
                <div class="grid_4">
                  <p class="meta">Aplicación Web</p>
                  <h3>Tudo Bem Tudo Bom</h3>
                  <p>Para <strong>Tudo Bem Tudo Bom</strong> desarrollamos un sistema de manejo de cotizacones y ordenes de trabajo interna para
                    facilitar el proceso con el cliente.</p>
                  <p><a href="http://tbtbamerica.com/">tbtbamerica.com</a></p>
                </div>
              </div>
              <div id="text_organica">
                <div class="grid_8">
                  <a href="http://www.organicastore.com"><img class="shadow hovershadow" src="images/large_thumbs/organica1.png" alt="Sistema de Gestión de contenido para Organica"  /></a>
                </div>
                <div class="grid_4">
                  <p class="meta">Sistema de Gestión de Contenido</p>
                  <h3>Orgánica</h3>
                  <p>Para <strong>Orgánica</strong> implementamos el sistema de gestión de contenido para su sitio web. Para esta tarea utilizamos <a href="http://www.textpattern.com">Textpattern</a> un sistema de gestión muy flexible y poderoso que permite manejar cómodamente cualquier tipo de sitio web.</p>
                  <p><a href="http://organicastore.com/">organicastore.com</a></p>
                </div>
              </div>
            </div>
          </div>

        </div><!--//container_12-->
    	</div><!--//section-->
        
        
        
        
        
        
        
        
        
        
        
    	<div id="equipo" class="section clearfix default">
            <div class="container_12">
                <div class="grid_12">
                	<div class="section-heading clearfix">
                		<h2>Nuestro Equipo</h2>
                    </div><!--//section-heading-->
                                        
                    
                    <div class="clear"></div>
                    
					<!-- note the alpha and omega classes when we're nested in the grid_12 already-->
					<div class="grid_6 alpha">
						<div class="shadow rounded centered boxed">
                        	<img src="images/bios/antonio.jpg" alt="bio" class="center" />
							<h4>Antonio Touriño - Desarrollador</h4>
                            <p>Desarrollador web con años de experiencia implementando sistemas y desarrollando aplicaciones acorde con las necesidades del cliente.</p>
						</div>
					</div><!--//grid_6-->
					
					
					<div class="grid_6 omega">
						<div class="shadow rounded centered boxed">
                        	<img src="images/bios/chuck.jpg" alt="bio" class="center" />
							<h4>Chuck Norris - Gato Oficial</h4>
							<p>El gato que quiere amor y fiel compañero de trabajo. Se la pasa corrinchando con los otros gatos.</p>
						</div>
					</div>
                    
                </div><!--//grid_12-->
                
            </div><!--//container_12-->
    	</div><!--//section-->
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    	<div id="contacto" class="section clearfix contact">
            <div class="container_12">
                <div class="grid_12">
                	<div class="section-heading clearfix">
                		<h2>Contáctenos</h2>
                    </div><!--//section-heading-->
                </div><!--//grid_12-->
                
                <div class="clear"></div>
                
                <div class="grid_6">
					
                    <h4>Brilliance Tech</h4>
                    <div class="grid_6">
                    	<p>
                        d: Edificio Green Park 200<br />
                        e: hello@brilliancetech.com<br />
                        t: +507 230 2970 (Panamá)<br />
                        t: +1 845 823 1006 (Estados Unidos)<br />
                      </p>
                    </div>
                    <div class="clear"></div>
                    
                    
                </div><!--//grid_6-->
                
                <div class="grid_6">
                	<h3>Formulario de contacto</h3>
                    <p>Para cualquier consulta, puede usar este formulario para contactarnos. Usualmente respondemos rápidamente por email.</p>
                    <p id="contact-form-errror" class="message warning hidden">Nombre, email y mensaje son requeridos.</p>
                	<form action="/contact" method="post" class="standardForm">
                    	<label for="cf_name" class="hidden">Su nombre</label>
                    		<input class="textbox rounded" type="text" id="cf_name" name="cf_name" value="Nombre" />
                        <label for="cf_email" class="hidden">Su email</label>
                        <input class="textbox rounded" type="text" id="cf_email" name="cf_email" value="Email" />
                        <input class="hidden" type="text" id="email_2" name="email_2" value="" />
                        <label for="cf_message" class="hidden">Su mensaje</label>
	                        <textarea class="textarea rounded" name="cf_message" id="cf_message">Su mensaje</textarea>
                        
                        <input class="submit rounded" type="submit" name="submit" id="cf_submit" value="Enviar" />
                    </form>
                </div><!--//grid_6-->
                
            </div><!--//container_12-->
    	</div><!--//section-->
        
        
        <div class="end"><!-- used to give extra space, to allow the last slide to fully rise to the browser top --></div>
        
        
        <div id="footer" class="shadow">
            <div class="container_12">
            	<div class="grid_8">
	            	<ul class="social">
						<li><span class="scroll_to_contacto">hello@brilliancetech.com</span></li>
						<li><span class="scroll_to_contacto">+507 230 2970</span></li>
						<li><span class="scroll_to_contacto">+1 845 823 1006</span></li>
                    </ul>
                </div>
                <div class="grid_4">
                	<ul class="social right">
						<li><span class="scroll_to_top">Volver al inicio</span></li>
                    </ul>
                </div>
            </div>
        </div><!--//outer-->
    
    </div><!--//outer-->
    {% if flash.notification is defined %}
    <script type="text/javascript">
      smoke.forceload();
      smoke.signal('{{ flash.notification }}');
    </script>
    {% endif %}
</body>
</html>
